.MainContainer {
  width: get-rem(1200px);
  margin: 0 auto;
}
.Content {
  width: get-rem(1200px);
  padding: 0 get-rem(16px);
  margin: 0 auto;
}



@media (max-width: 780px) {
  .MainContainer {
    width: 95%;
  }
  .Content {
    width: 95%;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .MainContainer {
    width: 95%;
  }
  .Content {
    width: 95%;
  }
}
