.content {
  &__list {
    padding: 0 get-rem(16px);
    display: flex;
    justify-content: space-between;
    &-item {
      width: get-rem(268px);
      background-color: white;
      border-radius: get-rem(2px);
      padding: get-rem(24px) get-rem(24px) get-rem(17px);

      display: flex;
      flex-direction: column;

      position: relative;
      &.active {
        border-color: $main-color;
      }
    }
  }
  &__item {
    &-header {
      text-align: center;
      padding-bottom: get-rem(23px);
      margin-bottom: get-rem(20px);
      position: relative;
      &:after {
        content: '';
        width: get-rem(82px);
        height: get-rem(1px);
        background-color: #C9E3F9;
        @include horizontal-center;
        bottom: 0;
      }
    }
    &-body {
      padding-bottom: get-rem(36px);
      margin-bottom: auto;
      ul {
        li {
          margin-bottom: get-rem(13px);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      div {
        border: 1px solid blue;
      }
    }
    &-footer {
      width: 100%;
      height: get-rem(46px);
      display: flex;
      align-items: center;
      margin-top: auto;
      padding: 0 get-rem(15px);
      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
      }
      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label
      {
        padding-left: get-rem(20px);
        cursor: pointer;
        display: inline-block;
        color: #666;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(91,100,105,.2);
        h4 {
          width: get-rem(223px);
          height: get-rem(46px);
          background-color: $bg-grey;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: get-rem(17px);
          color: $text-color;
        }
      }
      [type="radio"]:checked + label > h4:before,
      [type="radio"]:not(:checked) + label > h4:before {
        content: '';
        position: absolute;
        left: get-rem(10px);
        top: 0;
        width: get-rem(15px);
        height: get-rem(15px);
        border: 1px solid $text-color;
        border-radius: 100%;
        background: transparent;
        @include vertical-center;
      }
      [type="radio"]:checked + label > h4:before {
        border-color: $selected-color;
      }
      [type="radio"]:checked + label {
        border-color: $main-color;
      }
      [type="radio"]:checked + label > h4{
        border: 1px solid $main-color;
        color: $main-color;
      }
      [type="radio"]:checked + label > h4:after,
      [type="radio"]:not(:checked) + label > h4:after {
        content: '';
        width: get-rem(8px);
        height: get-rem(8px);
        background: $selected-color;
        position: absolute;
        @include vertical-center;
        top: get-rem(22px);
        left: get-rem(14px);
        border-radius: 100%;
        transition: all 0.2s ease;
      }

      [type="radio"]:not(:checked) + label > h4:after {
        opacity: 0;
        transform: scale(0);
      }
      label.label-item {

      }
    }
  }
}


@media (max-width: 780px) {
  .content {
    &__list {
      flex-wrap: wrap;
      &-item {
        width: 48%;
        margin-bottom: get-rem(38px);
      }
    }
    &__item{
      &-footer {
        [type=radio]:checked+label:after,
        [type=radio]:not(:checked)+label:after {
          top: get-rem(10.5px);
          left: get-rem(4.1px);
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .content {
    &__list {
      flex-wrap: wrap;
      &-item {
        width: 100%;
        margin-bottom: get-rem(38px);
      }
    }
  }
}
